@model MVCPages.SampleWeb.Models.PageViewModel
@{
    ViewBag.Title = Model.Title;
}

<h1>ALT - @Model.Header - ALT</h1>
<p class="lead">@Model.Introduction</p>
<p>
    @Model.BodyText
</p>
<div class="row">
    <a href="/">get back</a>
</div>
