@model MVCPages.SampleWeb.Models.PageViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="jumbotron">
    <h1>@Model.Header</h1>
    <p class="lead">@Model.Introduction</p>
    <p>@Model.BodyText
</p>
</div>

